<%= form_with model: @message do |f| %>
  <div class="control">
      <%= f.text_field :content, class: "input mb-2" %>
  </div>

  <%= f.hidden_field :room_id, value: room_id %>

  <div class="control is-flex is-justify-content-flex-end">
    <%= f.submit "Send", class: "button is-flex " %>
  </div> 
<% end %>